/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2030;
    background-alt: #24273a;
    foreground:     #cad3f5;
    selected:       #f4dbd6;
    active:         #a6da95;
    urgent:         #ed8796;
}
